/* by watayan <watayan@watayan.net> */

#input{
	display: none;
	position: absolute;
	background: #fff;
	top: 10px;
	left: 10px;
	margin: auto;
	width: 300px;
	height: 100px;
	padding: 1em;
	box-shadow: 0 4px 12px rgba(0,0,0,0.5);
	border-radius: 5px;
	overflow: hidden;
	z-index: 10;
}

#input-overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

#EditButtons{
	clear: both;
}
.editButton{
	margin:2px 0;
}

#SampleButtons{
	margin-top: 1em;
}

#canvas{
	display: none;
	border: solid 1px rgb(0,0,0);
}
