html{
	width: 100%;
	height: 100%;
}

body {
	font-size: 100%; 
	font-weight: normal; 
	color: #442200; 
	background-color: #77aaaa;
	margin: 0;
	height: 100%;
	line-height: 1.4;
}


@media screen and (min-width:1000px){
	div#whole{
		background-color: white;
		width:990px;
		margin: 0 auto;
		padding: 8px;
		min-height: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width:999px){
	div#whole{
		background-color: white;
		padding: 8px;
		min-height: 100%;
	}
	
}

@media screen and (max-width:767px){
	div#whole{
		background-color: white;
		padding: 8px;
		min-height: 100%;
	}
	
}


table.def_table{
	border: 1pt solid #442200;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width:99%;
}

table.def_table th, td{
    border: 1pt solid #442200;
}

h1{
    font-size: 200%;
}

h2{
	padding-top: 1em;
	font-size: 150%;
	clear: both;
}

h3{
	padding-top: 1em;
	font-size: 120%;
}

.part{
	background-color: antiquewhite;
	width: 100%;
	float: left;
	margin-top: 0px;
	/* clear: both; */
}

.code{
	float: left;
}

.flowchart img{
	margin: 4px;
}

img{
	max-width:99%;
}
